<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<meta name="keyword" content="Emmett,blog,天奇,前端开发,博客" />
	<meta name="description" content="前端工程师天奇(Emmett)的博客" />
	<title>Emmett's blog(天奇的博客)</title>
	<base href="/">
	<link rel="stylesheet" href="/static/assets/normalize-css/normalize.css">
	<link rel="stylesheet" href="/static/assets/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="/static/css/fonts.css">
	<link rel="stylesheet" href="/static/css/main.css">
</head>
<body on>
	<!-- 顶部线条 -->
	<div class="headbar">
		<div class="headbar-inner"></div>
	</div>

	<div class="wrapper">
		<!-- 头部 -->
		<header class="header" ng-controller="headerCtrl">
			<div class="header-inner">
				<div class="brand">
					<a ui-sref="home">Emmett's blog</a>
				</div>
				<button class="nav-toggle-btn" ng-click="toggleNav()">
					<span class="btn-bar"></span>
					<span class="btn-bar"></span>
					<span class="btn-bar"></span>
				</button>
				<nav class="nav" ng-class="{'in': showNav}">
					<ul class="menu">
						<li ui-sref-active="active">
							<a ui-sref="home">
								<i class="fa fa-fw fa-home"></i>
								首页
							</a>
						</li>
						<li ui-sref-active="active">
							<a ui-sref="archive">
								<i class="fa fa-fw fa-archive"></i>
								归档
							</a>
						</li>
						<li ui-sref-active="active">
							<a ui-sref="tags">
								<i class="fa fa-fw fa-tag"></i>
								标签
							</a>
						</li>
						<li ui-sref-active="active">
							<a ui-sref="about">
								<i class="fa fa-fw fa-info-circle"></i>
								关于
							</a>
						</li>
					</ul>
					<div class="search">
						<i class="fa fa-fw fa-search"></i>
						<input type="search" class="form-control search-input" placeholder="搜索">
					</div>
				</nav>
			</div>
		</header>

		<!-- 主体 -->
		<main class="main clearfix">
			<!-- 侧边栏 -->
			<aside class="aside">
				<div class="aside-inner" ng-class="{fixed: isAsideFixed}">
					<!-- 侧边栏导航 -->
					<nav class="aside-nav" ng-show="showAsideNav">
						<div class="aside-nav-item" ng-class="{active: isCatelogActive}" ng-click="toggleAsideNav(true)">文章目录</div>
						<div class="aside-nav-item" ng-class="{active: !isCatelogActive}" ng-click="toggleAsideNav(false)">站点概况</div>
					</nav>
					<!-- 网站概述 -->
					<div class="site-profile" ng-show="!isCatelogActive">
						<div class="site-author-avatar">
							<img src="/static/img/avatar.jpg">
						</div>
						<div class="site-author-info">
							<p class="site-author-name">Emmett(天奇)</p>
							<p class="site-author-sign">激情澎湃的前端开发者</p>
							<!-- <nav class="site-state">
								<span class="site-state-item">
									<a ui-sref="archive">
										<span class="site-state-count">119</span>
										<span class="site-state-name">日志</span>
									</a>
								</span>
								<span class="site-state-item">
									<a ui-sref="tags">
										<span class="site-state-count">204</span>
										<span class="site-state-name">标签</span>
									</a>
								</span>
							</nav> -->
							<div class="follow-author">
								<span class="follow-author-item">
									<a href="https://github.com/hetianqi" target="_blank">
										<i class="fa fa-fw fa-github"></i>
										Github
									</a>
								</span>
								<span class="follow-author-item">
									<a href="http://www.cnblogs.com/hetianqi/" target="_blank">
										<i class="fa fa-fw fa-globe"></i>
										博客园
									</a>
								</span>						
							</div>
						</div>
					</div>
					<!-- 文章目录 -->
					<div class="post-catelog" ng-show="isCatelogActive">
						<ol ng-show="catelogs.length">
							<li ng-repeat="catelog in catelogs">
								<a href="#{{catelog}}">{{$index + 1}}.{{catelog}}</a>
							</li>
						</ol>
						<span ng-show="!catelogs.length">本文章暂无目录</span>
					</div>
				</div>				
			</aside>
			<!-- 内容区 -->
			<section class="content" ui-view></section>
		</main>
	</div>

	<!-- 底部 -->
	<footer class="footer">
		<div class="copyright">
			&copy;2016 - {{copyrightYear}} Emmett
		</div>
	</footer>

	<div id="ng-templates"></div>
	
    <script src="/static/js/all.js"></script>
</body>
</html>