# Logs
logs
*.log
/server/log

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules

# bower components
/client/assets

# scss-cache
.sass-cache

# compile
/client/js/all.js
/client/css/main.css
