/*common style*/
*, *:before, *:after, *::before, *::after {
    box-sizing: border-box;
}

html, body {
	height: 100%;
}

body {
	font-family: $fontFamily;
    font-size: 14px;

    line-height: 2;

    color: #333;
    background: #fff;
}

a {
    border-bottom: 1px solid #666;
    
    color: #666;
    text-decoration: none;

    &:hover {
        border-bottom-color: #222;

    	color: #222;

    	cursor: pointer;
    	text-decoration: none;
    }
}

ul, ol {
	margin: 0;
	padding: 0;

	list-style: none;
}

button {
    border: 0;
    outline: 0;

	background-image: none;
    background-color: transparent;

    cursor: pointer;
}

input, textarea, input[type="search"] {
	outline: 0;
    appearance: none;
}

.form-control {
    border: 1px solid #ddd;

    &:focus {
        border-color: #51a7e8;              
        box-shadow: inset 0 1px 2px rgba(0,0,0,0.075),0 0 5px rgba(81,167,232,0.5);
    }
}

input[type=checkbox], input[type=radio] {    
    margin: 0;

    vertical-align: middle;
}

p {
    margin: 0 0 20px;
}

.btn-bar {
	display: block;

	width: 22px;
	height: 2px;

	border-radius: 1px;

	background-color: #fff;

	+ .btn-bar {
		margin-top: 4px;
	}
}

button:hover .btn-bar {
	background-color: #ddd;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
}

.btn {
    display: inline-block;

    padding: 0 20px;
    border: 2px solid #555;
    border-radius: 0;

    font-size: 14px;
    text-decoration: none;
    color: #222;
    background: #fff;

    transition: background-color .2s ease-in-out;

    &:hover {
        border-color: #222;

        color: #fff;
        background: #222;
    }
}