/*header style*/

.header {
	width: $pageW;
	margin: 0 auto;
	position: relative;

	@at-root {
		.header-inner {
			position: absolute;
			left: 0;
			top: 0;

			width: 240px;

			.brand {
				padding: 20px 0;

		    	color: #fff;
		    	background-color: #222;

			    text-align: center;
	
				a {
					color: #fff;

					font: {
						family: 'Lobster Two', 'Monda', "PingFang SC", 'Microsoft YaHei', 'sans-serif';
						size: 24px;
					}

					&:hover {
						color: #ddd;
					}
				}				
			}

			.nav-toggle-btn {
				position: absolute;
				right: 15px;
				top: 20px;

				display: none;

				padding: 10px 15px;

				background-image: none;
			}
			
			@at-root {
				.nav {
					margin-top: 20px;

					.menu li {
						position: relative;

						padding: 5px 20px;

						a {
							display: block;

							color: #666;

							&:hover {
								color: #333;
							}
						}

						&:hover {
							background-color: #eee;
						}

						&.active::after {
							position: absolute;
							right: 14px;
							top: 50%;

							content: "";

							width: 6px;
							height: 6px;
							margin-top: -3px;

							background-color: #aaa;

							border-radius: 50%;
						}
					}

					.search {
						padding: 5px 20px;

						a {
							display: block;

							color: #666;

							&:hover {
								color: #333;
							}
						}
					}
				}
			}
		}
	}
}

@media (max-width: 768px) {
	.header {
		width: auto;

		.header-inner {
			position: static;

			width: auto;

			.nav-toggle-btn {
				display: block;
			}
		}
	}
}