<div class="content-margin" ng-controller="archiveCtrl">
	<section class="post-collapse">
		<h2 class="post-total circle">目前共 {{total}} 篇文章，继续努力！</h2>
		<section class="post-list">
			<div ng-repeat="(year, arc) in archives track by year">
				<h3 class="archive-year circle">{{year}}</h3>
				<article class="post circle" ng-repeat="post in arc track by $index">
					<a ui-sref="detail({postId:post.id})" target="_blank">						
						<span class="post-meta">
							<time class="post-time">{{post.createTime | formatDate: 'MM-DD'}}</time>
						</span>
						<span class="post-title">{{post.title}}</span>						
					</a>
				</article>
			</div>
		</section>
	</section>	
	<pagination limit="limit" total="total" on-page-change="getArchivePostList"></pagination>
</div>