<div ng-controller="postCtrl">
	<section class="post-expand">
		<article class="post" ng-repeat="post in posts">
			<header class="post-header">
				<h1 class="post-title">
					<a ui-sref="detail({postId:post.id})" target="_blank">{{post.title}}</a>
				</h1>
				<div class="post-meta">
					<time class="post-meta-item">发表于 {{post.createTime | formatDate: 'YYYY-MM-DD'}}</time>
					<span class="post-meta-item"><a ui-sref="detail({postId:post.id})">{{post.comments}} 条评论</a></span>
					<span class="post-meta-item">阅读次数 {{post.times}}</span>
				</div>
				<div class="post-tag-list">
					<span class="post-tag" ng-repeat="tag in post.tags">
						<a ui-sref="tags.detail({tag: tag})">{{tag}}</a>
					</span>
				</div>
			</header>
			<section class="post-body" ng-bind-html="post.excerpt | toTrustHtml"></section>
			<div class="post-more-link">
				<a class="btn" ui-sref="detail({postId:post.id})" target="_blank">阅读全文</a>
			</div>
		</article>
	</section>
	<pagination limit="limit" total="total" on-page-change="getPostList"></pagination>
</div>