<div class="content-margin" ng-controller="tagDetailCtrl">
	<section class="post-collapse">
		<h2 class="post-total circle">{{tag}} 标签共 {{total}} 篇文章</h2>
		<article class="post circle" ng-repeat="post in posts track by $index">			
			<a ui-sref="detail({postId:post.id})">
				<span class="post-meta">
					<time class="post-time">{{post.createTime | formatDate: 'YYYY-MM-DD'}}</time>
				</span>
				<span class="post-title">{{post.title}}</span>				
			</a>
		</article>
	</section>	
	<pagination limit="limit" total="total" on-page-change="getPostListByTagName"></pagination>
</div>