/*reset style*/
html, body { height: 100%; }

body { font-family: 'Monda', "PingFang SC", 'Microsoft YaHei', 'sans-serif'; font-size: 14px; line-height: 2; color: #333; background: #fff; }

a { color: #0088cc; text-decoration: none; }
a:hover { color: #005580; cursor: pointer; text-decoration: none; }

ul, ol { margin: 0; padding: 0; list-style: none; }

button { border: 0; outline: 0; background-image: none; background-color: transparent; cursor: pointer; }

.btn-bar { display: block; width: 22px; height: 2px; border-radius: 1px; background-color: #fff; }
.btn-bar + .btn-bar { margin-top: 4px; }

button:hover .btn-bar { background-color: #ddd; }

/*header style*/
.header { width: 1000px; margin: 0 auto; position: relative; }
.header-inner { position: absolute; left: 0; top: 0; width: 240px; }
.header-inner .brand { padding: 20px 0; color: #fff; background-color: #222; text-align: center; }
.header-inner .brand a { color: #fff; font-family: 'Lobster Two', 'Monda', "PingFang SC", 'Microsoft YaHei', 'sans-serif'; font-size: 24px; }
.header-inner .brand a:hover { color: #ddd; }
.header-inner .nav-toggle-btn { position: absolute; right: 15px; top: 20px; display: none; padding: 10px 15px; background-image: none; }
.nav { margin-top: 20px; }
.nav .menu li { position: relative; padding: 5px 20px; }
.nav .menu li a { display: block; color: #666; }
.nav .menu li a:hover { color: #333; }
.nav .menu li:hover { background-color: #eee; }
.nav .menu li.active::after { position: absolute; right: 14px; top: 50%; content: ""; width: 6px; height: 6px; margin-top: -3px; background-color: #aaa; border-radius: 50%; }
.nav .search { padding: 5px 20px; }
.nav .search a { display: block; color: #666; }
.nav .search a:hover { color: #333; }

@media (max-width: 768px) { .header { width: auto; }
  .header .header-inner { position: static; width: auto; }
  .header .header-inner .nav-toggle-btn { display: block; } }
