/* common style */

*, *:before, *:after, *::before, *::after {
    box-sizing: border-box;
}

html, body {
	height: 100%;
}

body {
	font-family: $fontFamily;
    font-size: $fontSize;

    line-height: 2;

    color: #333;
    background: #fff;
}

a {
    border-bottom: 1px solid #666;
    
    color: #666;
    text-decoration: none;

    &:hover {
        border-bottom-color: #222;

    	color: #222;

    	cursor: pointer;
    	text-decoration: none;
    }
}

ul, ol {
	margin: 0;
	padding: 0;

	list-style: none;
}

button {
    border: 0;
    outline: 0;

	background-image: none;
    background-color: transparent;

    cursor: pointer;
}

input, textarea {
	outline: 0;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;

    font-weight: bold;
    font-family: 'Roboto Slab', 'Monda', 'PingFang SC', 'Microsoft YaHei', 'sans-serif';
}

.form-control {
    border: 1px solid #ddd;

    &:focus {
        border-color: #51a7e8;              
        box-shadow: inset 0 1px 2px rgba(0,0,0,0.075),0 0 5px rgba(81,167,232,0.5);
    }
}

input[type=checkbox], input[type=radio] {    
    margin: 0;

    vertical-align: middle;
}

p {
    margin: 0 0 20px;
}

table {
    width: 100%;
    margin: 20px 0;

    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #ddd;

    font-size: 14px;
    word-wrap: break-all;
}
th, td {
    padding: 8px;

    border: 1px solid #eee;

    text-align: left;
    vertical-align: middle;
}

.btn-bar {
	display: block;

	width: 22px;
	height: 2px;

	border-radius: 1px;

	background-color: #fff;

	+ .btn-bar {
		margin-top: 4px;
	}
}

button:hover .btn-bar {
	background-color: #ddd;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: " ";
}
.clearfix:after {
    clear: both;
}

.btn {
    display: inline-block;

    padding: 0 20px;
    border: 2px solid #555;
    border-radius: 0;

    font-size: 14px;
    text-decoration: none;
    color: #222;
    background: #fff;

    transition: background-color .2s ease-in-out;

    &:hover {
        border-color: #222;

        color: #fff;
        background: #222;
    }
}

.pagination {
    margin: 40px 0;

    text-align: center;
}

.pager {
    display: inline-block;

    @extend .clearfix;

    li {
        float: left;
        padding: 2px 12px;
        margin-left: -1px;
        border: 1px solid #e5e5e5;

        text-align: center;
        
        transition: all .2s ease-in-out;

        &:first-child {
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
        }

        &:last-child {
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
        }

        &:hover {
            background-color: #e7e7e7;

            cursor: pointer;
        }

        &.active,
        &.active:hover {
            color: #fff;
            background-color: #a7a7a7;

            cursor: default;
        }

        &.disabled,
        &.disabled:hover {
            color: #aaa;
            background-color: transparent;

            cursor: default;
        }
    }
}

.container-fluid {
    @extend .clearfix;

    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    @extend .clearfix;

    margin-right: -15px;
    margin-left: -15px;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    position: relative;

    float: left;

    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.col-12 {
  width: 100%;
}
.col-11 {
  width: 91.66666667%;
}
.col-10 {
  width: 83.33333333%;
}
.col-9 {
  width: 75%;
}
.col-8 {
  width: 66.66666667%;
}
.col-7 {
  width: 58.33333333%;
}
.col-6 {
  width: 50%;
}
.col-5 {
  width: 41.66666667%;
}
.col-4 {
  width: 33.33333333%;
}
.col-3 {
  width: 25%;
}
.col-2 {
  width: 16.66666667%;
}
.col-1 {
  width: 8.33333333%;
}

.form-group {
    margin-bottom: 15px;
}
.form-option {
    margin: 40px 0;
    text-align: center;
}

.item {
    position: relative;

    display: table;
    width: 100%;

    border-bottom: 1px solid #ddd;
}
.item-name,
.item-text {
    display: table-cell;
    padding: 10px 0 10px 20px;

    vertical-align: top;
}
.item-name {
    width: 100px;
}
.item-text table {
    margin: 0;
}

.radio-inline,
.checkbox-inline {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    vertical-align: middle;
    cursor: pointer;
}
.radio-inline + .radio-inline, .checkbox-inline + .checkbox-inline {
    margin-top: 0;
    margin-left: 10px;
}