/* duoshuo style */

.duoshuo {
    margin-top: 40px;
}
.duoshuo .ds-share {
    margin-bottom: 40px;
}
.duoshuo #ds-thread #ds-reset {
  color: #555;
}
.duoshuo #ds-thread #ds-reset .ds-replybox {
  margin-bottom: 30px;
}
.duoshuo #ds-thread #ds-reset .ds-replybox .ds-avatar,
.duoshuo #ds-reset .ds-avatar img {
  box-shadow: none;
}
.duoshuo #ds-thread #ds-reset .ds-textarea-wrapper {
  border-color: #c7d4e1;
  background: none;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.duoshuo #ds-thread #ds-reset .ds-textarea-wrapper textarea {
  height: 60px;
}
.duoshuo #ds-reset .ds-rounded-top {
  border-radius: 0;
}
.duoshuo #ds-thread #ds-reset .ds-post-toolbar {
  box-sizing: border-box;
  border: 1px solid #c7d4e1;
  background: #f6f8fa;
}
.duoshuo #ds-thread #ds-reset .ds-post-options {
  height: 40px;
  border: none;
  background: none;
}
.duoshuo #ds-thread #ds-reset .ds-toolbar-buttons {
  top: 11px;
}
.duoshuo #ds-thread #ds-reset .ds-sync {
  top: 5px;
}
.duoshuo #ds-thread #ds-reset .ds-post-button {
  top: 4px;
  right: 5px;
  width: 90px;
  height: 30px;
  border: 1px solid #c5ced7;
  border-radius: 3px;
  background-image: linear-gradient(#fbfbfc, #f5f7f9);
  color: #60676d;
}
.duoshuo #ds-thread #ds-reset .ds-post-button:hover {
  background-position: 0 -30px;
  color: #60676d;
}
.duoshuo #ds-thread #ds-reset .ds-comments-info {
  padding: 10px 0;
}
.duoshuo #ds-thread #ds-reset .ds-sort {
  display: none;
}
.duoshuo #ds-thread #ds-reset li.ds-tab a.ds-current {
  border: none;
  background: #f6f8fa;
  color: #60676d;
}
.duoshuo #ds-thread #ds-reset li.ds-tab a.ds-current:hover {
  background-color: #e9f0f7;
  color: #60676d;
}
.duoshuo #ds-thread #ds-reset li.ds-tab a {
  border-radius: 2px;
  padding: 5px;
}
.duoshuo #ds-thread #ds-reset .ds-login-buttons p {
  color: #999;
  line-height: 36px;
}
.duoshuo #ds-thread #ds-reset .ds-login-buttons .ds-service-list li {
  height: 28px;
}
.duoshuo #ds-thread #ds-reset .ds-service-list a {
  background: none;
  padding: 5px;
  border: 1px solid;
  border-radius: 3px;
  text-align: center;
}
.duoshuo #ds-thread #ds-reset .ds-service-list a:hover {
  color: #fff;
  background: #666;
}
.duoshuo #ds-thread #ds-reset .ds-service-list .ds-weibo {
  color: #fc9b00;
  border-color: #fc9b00;
}
.duoshuo #ds-thread #ds-reset .ds-service-list .ds-weibo:hover {
  background: #fc9b00;
}
.duoshuo #ds-thread #ds-reset .ds-service-list .ds-qq {
  color: #60a3ec;
  border-color: #60a3ec;
}
.duoshuo #ds-thread #ds-reset .ds-service-list .ds-qq:hover {
  background: #60a3ec;
}
.duoshuo #ds-thread #ds-reset .ds-service-list .ds-renren {
  color: #2e7ac4;
  border-color: #2e7ac4;
}
.duoshuo #ds-thread #ds-reset .ds-service-list .ds-renren:hover {
  background: #2e7ac4;
}
.duoshuo #ds-thread #ds-reset .ds-service-list .ds-douban {
  color: #37994c;
  border-color: #37994c;
}
.duoshuo #ds-thread #ds-reset .ds-service-list .ds-douban:hover {
  background: #37994c;
}
.duoshuo #ds-thread #ds-reset .ds-service-list .ds-kaixin {
  color: #fef20d;
  border-color: #fef20d;
}
.duoshuo #ds-thread #ds-reset .ds-service-list .ds-kaixin:hover {
  background: #fef20d;
}
.duoshuo #ds-thread #ds-reset .ds-service-list .ds-netease {
  color: #f00;
  border-color: #f00;
}
.duoshuo #ds-thread #ds-reset .ds-service-list .ds-netease:hover {
  background: #f00;
}
.duoshuo #ds-thread #ds-reset .ds-service-list .ds-sohu {
  color: #ffcb05;
  border-color: #ffcb05;
}
.duoshuo #ds-thread #ds-reset .ds-service-list .ds-sohu:hover {
  background: #ffcb05;
}
.duoshuo #ds-thread #ds-reset .ds-service-list .ds-baidu {
  color: #2831e0;
  border-color: #2831e0;
}
.duoshuo #ds-thread #ds-reset .ds-service-list .ds-baidu:hover {
  background: #2831e0;
}
.duoshuo #ds-thread #ds-reset .ds-service-list .ds-google {
  color: #166bec;
  border-color: #166bec;
}
.duoshuo #ds-thread #ds-reset .ds-service-list .ds-google:hover {
  background: #166bec;
}
.duoshuo #ds-thread #ds-reset .ds-service-list .ds-weixin {
  color: #00ce0d;
  border-color: #00ce0d;
}
.duoshuo #ds-thread #ds-reset .ds-service-list .ds-weixin:hover {
  background: #00ce0d;
}
.duoshuo #ds-thread #ds-reset .ds-service-list .ds-more-services {
  border: none;
}
.duoshuo #ds-thread #ds-reset .ds-service-list .ds-more-services:hover {
  background: none;
}
.duoshuo #ds-reset .duoshuo-ua-admin {
  display: inline-block;
  color: #f00;
}
.duoshuo #ds-reset .duoshuo-ua-platform,
.duoshuo #ds-reset .duoshuo-ua-browser {
  color: #ccc;
}
.duoshuo #ds-reset .duoshuo-ua-platform .fa,
.duoshuo #ds-reset .duoshuo-ua-browser .fa {
  display: inline-block;
  margin-right: 3px;
}
.duoshuo #ds-reset .duoshuo-ua-separator {
  display: inline-block;
  margin-left: 5px;
}