/* 移动端style */

@media (max-width: 768px) {
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    float: none;

    width: auto;
}

.wrapper {
    width: auto;
}

.aside {
    float: none;

    width: auto;
    margin-top: 0;

    overflow: hidden;
}

.aside-inner {
    width: auto;

    .fixed {
        position: static;
    }
}

.content {
    margin: 0 15px 0;
}

.site-author-avatar {
    float: left;

    width: 120px;
}

.site-author-info {
    margin-left: 135px;
}

.site-author-name,
.site-author-sign {
    text-align: left;
}

.site-state {
    text-align: left;
}

.follow-author {
    padding: 0;
}

.follow-author-item {
    padding-left: 0;
    padding-right: 0;
}

.module-about {
    section {
        margin-bottom: 20px;
    }
}

}