/* 移动端style */

@media (max-width: 768px) {
    .wrapper {
        width: auto;
    }

    .aside {
        float: none;

        width: auto;
        margin-top: 0;

        overflow: hidden;
    }

    .aside-inner {
        width: auto;
    }

    .content {
        margin: 0 15px 0;
    }

    .site-author-avatar {
        float: left;

        width: 120px;
    }

    .site-author-info {
        margin-left: 135px;
    }

    .site-author-name,
    .site-author-sign {
        text-align: left;
    }

    .site-state {
        text-align: left;
    }

    .follow-author {
        padding: 0;
    }

    .follow-author-item {
        padding-left: 0;
        padding-right: 0;
    }
}